:root{
    --red:#ff0f0f;
    --green:#16bf0a;
}

.coin-container{
    display:flex;
    justify-content:center;
}

img{
    height:30px;
    width: 30px;
    margin-right: 20px;
}

.red{
    color:var(--red)
}

.green{
    color:var(--green)
}

.coin-name{
    font-size:20px;
    font-weight:bold;
}